* {
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
}

#container {
    display: grid;
    width: 960px;
    grid-template-columns: repeat(16, auto);
}

.boxes {
    height: 45px;
    border: 2px solid black;
}