* {
    box-sizing: border-box;
}

#etch-a-sketch {
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto auto;
    background-color: red;
    margin: 0 10rem;
    border-radius: 20px;
}

#button {
    margin: 0 0 25px;
    padding: 15px;
}

#container {
    display: grid;
    width: 960px;
    height: 960px;
    border: 1px solid black;
}

.boxes {
    height: auto;
    border: 1px solid black;
    background-color: lightgray;
}

h1 {
    color: gold;
    text-align: center;
}