* {
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
}

#button {
    margin: 25px;
    padding: 15px;
}

#container {
    display: grid;
    width: 960px;
    border: 2px solid black;
}

.boxes {
    height: 45px;
    border: 2px solid black;
}